{% extends 'modules_app/base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
    <h1 class="text-center mt-5">Welcome to the Voting System</h1>
    <div class="container text-center mt-5">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <!-- <button type="button" class="btn btn-outline-secondary"><a class="text-decoration-none text-dark" href="/register">Register</a></button> -->
            <button type="button" class="btn btn-outline-secondary"><a class="text-decoration-none text-dark" href="/generateOTP">Generate OTP</a></button>
            <button type="button" class="btn btn-outline-secondary"><a class="text-decoration-none text-dark" href="/logintovote">Cast Vote</a></button>
            <button type="button" class="btn btn-outline-secondary"><a class="text-decoration-none text-dark" href="/result">See Result</a></button>

    {{ message }}
    </div>
{% endblock %}
