{% extends 'modules_app/base.html' %}
{% block title %}Login{% endblock %}
{% block content %}

    <div style="width: fit-content;left: 90%;position: relative;">
        <button type="button" class="btn btn-outline-secondary"><a class="text-decoration-none text-dark" href="/">Home</a></button>
    </div>
    <h1 class="text-center mt-5">Enter Details to Caste Your Vote</h1>
    <div class="container-fluid text-center mt-5">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <form action="{% url 'logintovote' %}" method="POST">
            {% csrf_token %}
            <!-- {{form.as_p}} -->
            <div class="row" style="width: 400px; margin: auto; align-items: center">
                {% for field in form%}
                <div class="col-md-4 mb-2">
                    {{ field.label_tag }}
                </div>
                <div class="col-md-8 mb-2">
                    {{ field }}
                </div>
                {% endfor %}
            </div>
            <button type="submit" class="btn btn-secondary">Login</button>
        </form>
    </div>

{% endblock %}